.form {
  width: 75%;
  max-width: 400px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color:rgb(241, 241, 241);
  box-shadow: 4px 6px 17px 0px rgba(0,0,0,0.52);
}

.registerFields {
  display: grid;
  row-gap: 0.625em;
  margin-bottom: 1.875em;
}
