/*
* {
    padding: 0;
    margin: 0;
}
*/
.listPage {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
}

.divlist {
    margin-bottom: auto;
}

.backButton {
    align-self: flex-start;
    bottom: 5%;
    left: 5%;
    border: 3px solid white;
    border-radius: 15px;
}

.link {
    color: inherit;
    text-decoration: none;
}

.listButton{
    margin-bottom: 5px;
    float: "right";
    background-color: "green";
}

.missingText{
    text-align: center;
    width: 100%;
}